*{
    box-sizing: border-box;
}
body{
    font-family:Arial, "微軟正黑體";
    
}

.wrap{
    min-width: 1366px; 
    margin-top:15px; 
    min-height: 933px;
    background:  url(images/main_bg.png) no-repeat 0 0, url(images/main_bg.jpg) no-repeat 0 0;
    background-size: cover, cover;
    background-attachment: fixed;
}
section{
    text-align: center;
}
h2{
    font-size: 36px;
    color: #632f91;
    font-weight: bolder;
}
h4{
    font-size: 48px;
    color: white;
    font-weight: bolder;
}
header{
    width: 100%;
    height: 75px;
    background: black; 
    position: fixed;
    top:0;  
}
nav{
    margin:18px 67px;
}
.brand{
    float: left;
}
.brand img{
    width: 290px;
    height: 40px;
}
nav ul{
    float: right;
    font-size: 16px;
    vertical-align: middle
    
}
nav ul li{
    float: left;
    padding: 12px 12px;
    line-height: 16px
    
}
nav ul li a{
    text-decoration: none;
    color:white;
    font-weight: 900  
}
.sign-button a{
    padding:8px 27px;
    background: orange;
    border-radius: 18px;
    font-weight: 900;
    text-decoration: none;
}
#area1 .container{
    padding: 284px 0 155px 0;
}

#area1 h3{
    margin: 10px;
    font-size: 48px;
    font-weight: 900;
    color: #632f91;    
}

#area1 p{
    font-size: 24px;
    line-height: 40px
}

.arrow{
    margin-top: 36px;
    display: inline-block;
    font-size: 26px;
}
.arrow span{
    font-size: 21px;
    color: white;
    background: #632f91;
    border-radius: 20px;
    padding:6px 11px
}
#area2{
    width: 100%;
    height: 124px;
    background: #3181bfb3;
}
#area2 .container{
    width: 100%;
    height: 124px;
    line-height: 124px
}
#area2 .container .sign-button{
    display: inline;
    margin: 0 10px   
}
#area2 .container .sign-button a{
    font-size: 20px;
    padding:21px 42px;
    border-radius: 50px
}
#area3{
    background:#463895b3
}
#area3 .container{
    width: 100%;
    padding: 30px
}
table{
    background: white;
    border-radius: 15px
}