*{  transition: .5s;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif,"微軟正黑體"
}

.wrapper{
    width: 100%;   
  
    margin: 0 auto;
}
h2{
    font-size: 1.5rem
}
h3{
    font-size: 2rem;
}
.flx{
    display: flex;
    flex-wrap: wrap;
}
.overflow-hidden{
    overflow: hidden;
}
.aln{
    text-align: center;
    align-items: center;
    justify-content: center;
}
.cln{
    flex-direction: column;
}
.navbar{
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 0 2.5%

}
.navbar ul li{
    margin: 0 15px;
    
}
.navbar ul li a{
    font-size: 1.2rem;
    color:gray;
}

.bar{
    align-items: center
}

@media screen and (max-width:768px){
    .navbar ul li{
        display: none;
        
    }

}
/* main cover */
.maincover{
    background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(long-hair.jpg);
    background-position: center top;
    flex-direction:column; 
    color: white;
    letter-spacing: 0.2rem;
}
.maincover h1{
    padding: 1rem 0;
    font-size: 3rem;  
}

.search-area{
    width: 40%;
    background: rgba(00, 00, 00, .7);
    padding:0.5%;
    border: 2px solid rgb(218, 68, 93);
    margin: 0rem 0 2rem;

}
.si{
    padding: 5px
}
.location{
    /* padding:0 10px; */
    border-right: 2px solid rgb(218, 68, 93);
    flex-grow: 3
}
.search{
    flex-grow: 8;
    text-align: left;
    text-indent: 0.5rem
}
.srbt{
    flex-grow: 2;
    background:  rgb(218, 68, 93)
}
.logo{
    padding: 8rem 0 2rem
}
@media screen and (max-width:768px){
    .maincover{
        letter-spacing: 0rem;
    }

    .logo{
        padding: 1rem 0 1rem;
    }
    .maincover h1{
        font-size: 2rem
    }
    h2{
        font-size: 1rem
    }
    .logo{
        padding: 1rem
    }
    .logo img{
        width: 10rem;
    }
    .search-area{
        width: 80%;
        background: rgba(00, 00, 00, .7);
        padding:0.5%;
        border: 2px solid rgb(218, 68, 93);
        margin: 0rem 0 2rem;
    }
    .srbt{
        margin-top:2px;
        width: 100%;
    }

}
/* booking */
.booking{
    background: rgb(24, 24, 24);
    justify-content: center;
    color: white
}

.booking img{
    width: 200px; 
}
.bkn-wrap{
    padding: 1.5rem 0;
    width: 100%;
    justify-content: space-evenly;
    
}
@media screen and (max-width:768px){
    .bkn-wrap{
        padding: 0.5rem 0;
        width: 100%;
        flex-direction: column
    }
    .booking img{
        width: 100px; 
    }
    

}
/* 主體 */
main{
    max-width: 960px;
    margin: 40px auto;
    
}
/* 熱門主題 */
section{
    margin:15px auto 60px;
    padding:0 15px;
    position: relative;

}
h3::after{
    display: block;
    content: "";
    height: 0px;
    border: 1px solid black;
    width: 3rem;
    margin: 10px auto
}
.area-block{
    width: 100%;
    margin: 30px auto 10px;
    justify-content: center;
}  
.hot-topic .pic{
    position: relative;
    margin: 10px 6px 0;
    width: 22%;
    height:270px;
}
.hot-topic .pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.2s;
    
}
.pic:hover img{
    filter: brightness(0.7) 
}
.pic:hover .tag{
    background: rgb(255, 120, 142);
    color: white;
    
}
.hot-topic .tag{
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    color:  rgb(253, 125, 142);
    border: 1px solid  rgb(253, 125, 142);
    padding: 0.3rem 1.5rem;
    bottom: 20px;
    right:-10px;
    transition: .2s;
}

.btn-more a{
    position: absolute;
    right: 50px;
    bottom:-40px;
    display: inline-block;
    background: rgb(253, 125, 142);
    color: white;
    padding: 5px 10px;
    text-decoration: none;
}
@media screen and (max-width:768px){
    .area-block{
        margin: 0 auto 10px;
    }
    .hot-topic .pic{
        position: relative;
        padding: 0.5rem 0.5%;
        width: 48%;
        height:250px;
    }

}
@media screen and (max-width:500px){
    .hot-topic .pic{
        position: relative;
        padding: 0.5rem 0;
        width: 100%;
        height:250px;
        
    }
    
    .btn-more a{
        position: relative;
        font-size: 1.5rem;
        right: 0;
        bottom: 0;
        display: block;
        background: rgb(253, 125, 142);
        color: white;
        padding: 10px ;
        text-decoration: none;
        
    }
}
/* 趨勢話題 */

.trend-box{
    position: relative;
    width: 30%;

    margin:0 6px;
    /* flex-grow: 1;
    flex-basis: 0; */
    background: gray;

}
.trend-box h4{
    width: 100%; /* 繼承了.main的文字置中，須將寬度設100%才能頂到容器邊緣 */
    color: white;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    z-index: 10;
    text-shadow: 0 0 8px black;
    transition: .5s;
}
.trend-box img{
    filter: brightness(0.5);
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.trend-box:hover h4{
    text-shadow: 1px 1px 15px rgb(253, 125, 142)
}

@media screen and (max-width:768px){
    .trend-box{
        margin: 5px 0;
        position: relative;
        width: 100%;
        height: 200px;    
        background: gray;
    
    }
    .trend-box h4{
        font-size: 1.2rem
    }

}
/* footer */
.footer-wrap{
    background: lightgray;
}

.footer-wrap>img{
    height: 240px;
}
.footer-wrap{
    justify-content: center;
    
}
@media screen and (max-width:768px){
    .appstore a{
        display: block;
    }
}

.footer-wrap2{
    padding: 60px;
    color:white;
    position: relative;
}
.footer-wrap-in{   
    height: 800px;   
}
.count-item{
    padding: 0 50px 30px;
}
.count::before{
    position: absolute;
    content: " ";
    border-left: 2px dotted rgb(255, 255, 255);
    width: 0;
    height: 112px;

}
.count-item .number{
    padding: 10px;
    font-size: 4rem;
}
.count::after{
    content:" ";
    background:url(images/bg.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    filter: blur(10px) brightness(0.7);
    position: absolute;
    height: 500px;
    bottom: 0px;
    right: 0;
    left: 0;
    z-index: -5;
    transform: scale(1.2)
}
.count h3::after{
    display: block;
    content: "";
    height: 0px;
    border: 1px solid rgb(255, 255, 255);
    width: 3rem;
    margin: 10px auto
}
.white-btn a{
    display: inline-block;
    background:rgb(216, 216, 216);
    padding: 0.6rem 3rem;
    margin: 0 1.5rem;
    color:rgb(63, 63, 63)
}
.white-btn a:hover{
    color: white;
    background: gray
}
.end{
    text-align: center;
    background: white;
    padding: 20px 0;
}
@media screen and (max-width:700px){
    .footer-wrap2{
        padding: 40px
    }
    .count::before{
        display: none;        
    }
    .white-btn a{
        margin: 0.5rem ;
       
    }
}
