*{
    box-sizing: border-box;
}
body{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif,"微軟正黑體"
}
.wrapper{
    /* max-width: 1366px; */   
    min-width: 780px;
    margin: 0 auto;
}
h2{
    font-size: 1.5rem
}
h3{
    font-size: 2rem;
}
.flx{
    display: flex;
}
.aln{
    text-align: center;
    align-items: center;
    justify-content: center
}
.cln{
    flex-direction: column;
}
.navbar{
    align-items: center;
 
    width: 100%;
    justify-content: space-between;
    padding: 0 2.5%

}
.navbar ul li{
    margin: 0 15px;
    list-style: none;
    font-size: 1.2rem
}
.bar{
    align-items: center
}
/* main cover */
.maincover{
    background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(long-hair.jpg);
    background-position: center top;
    text-align: center;
    align-items: center;
    flex-direction:column; 
    color: white;
    letter-spacing: 0.2rem;
}
.maincover h1{
    padding: 1rem 0;
    font-size: 3rem;  
}
.search-area{
    width: 40%;
    background: rgba(00, 00, 00, .7);
    padding:0.5%;
    border: 2px solid rgb(218, 68, 93);
    margin: 0rem 0 2rem;

}
.si{
    padding: 5px
}
.location{
    /* padding:0 10px; */
    border-right: 2px solid rgb(218, 68, 93);
    flex-grow: 3
}
.search{
    flex-grow: 8;
    text-align: left;
    text-indent: 0.5rem
}
.srbt{
    flex-grow: 2;
    background:  rgb(218, 68, 93)
}
.logo{
    padding: 8rem 0 2rem
}
/* booking */
.booking{
    background: rgb(24, 24, 24);
    justify-content: center;
    color: white
}

.booking img{
    width: 120px; 
}
.bkn-wrap{
    padding: 1.5rem 0;
    width: 50%;
    justify-content: space-between
}
/* 主體 */
main{
    max-width: 960px;
    margin: 40px auto;
    
}
/* 熱門主題 */
section{
    margin:15px auto 85px;
    position: relative;

}
main h3::after{
    display: block;
    content: "";
    height: 0px;
    border: 2px solid black;
    width: 5rem;
    margin: 10px auto
}
.area-block{
    width: 100%;
    margin: 30px auto;
    /* justify-content: space-around */
}  
.hot-topic .pic{
    position: relative;
    margin: 0 20px;
    width: 25vw;
    height:250px;
}
.hot-topic .pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.pic:hover img{
    filter: blur(1px)    
}
.pic:hover .tag{
    background: rgb(255, 120, 142);
    color: white;
    
}
.hot-topic .tag{
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    color:  rgb(253, 125, 142);
    border: 1px solid  rgb(253, 125, 142);
    padding: 0.3rem 1.5rem;
    bottom: 20px;
    right:-10px;
    transition: .5s;
}

.btn-more a{
    position: absolute;
    right: 20px;
    bottom:-40px;
    display: inline-block;
    background: rgb(253, 125, 142);
    color: white;
    padding: 5px 10px;
    text-decoration: none;
}
/* 趨勢話題 */

.trend-box{
    position: relative;
    height: 250px;
    width: 33.3%;
    margin: 0 10px;

}
.trend-box img{
    filter: brightness(0.5);
    object-fit: cover; 
    width: 100%;
    height: 100%;
}
.trend-box h4{ 
    position: absolute;
    top: 50%;
    z-index: 10;
    color: white;
    text-shadow: 0 0 2px black;
}