<div class="row">
    <div class="col-lg-6">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">name</th>
                    <th scope="col">age</th>
                </tr>
            </thead>
            <tbody>
                {{#each sales}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{name}}</td>
                    <td>{{age}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>