<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">sales_id</th>
            <th scope="col">name</th>
            <th scope="col">birthday</th>
        </tr>
    </thead>
    <tbody>
        {{#each sales}}
        <tr>
            <td>{{sales_id}}</td>
            <td>{{name}}</td>
            <td>{{birthday2}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>