<div class="container">
    <form name="form1" method="POST" enctype="multipart/form-data" onsubmit="return false;">
        <div class="form-group">
            <label for="img1">img1</label>
            <button type="button" class="btn btn-primary select-file" data-target="img1">請選擇檔案</button>
            <img id="myimg1" src="" alt="">
            <input type="hidden" name="myimg1" value="">
            <input type="file" class="form-control filefield" id="img1" style="display: none">
        </div>
        <div class="form-group">
            <label for="img2">img2</label>
            <button type="button" class="btn btn-primary select-file" data-target="img2">請選擇檔案</button>
            <img id="myimg2" src="" alt="">
            <input type="hidden" name="myimg2" value="">
            <input type="file" class="form-control filefield" id="img2" style="display: none">
        </div>
        <div class="form-group">
            <label for="img3">img3</label>
            <button type="button" class="btn btn-primary select-file" data-target="img3">請選擇檔案</button>
            <img id="myimg3" src="" alt="">
            <input type="hidden" name="myimg3" value="">
            <input type="file" class="form-control filefield" id="img3" style="display: none">
        </div>

        <button type="btn" class="btn btn-primary" onclick="doUpload()">Submit</button>
    </form>


</div>
<script>
    $(".select-file").click(function (event) {
        var id = $(this).data('target');
        $('#' + id).click()
    })


    $('.filefield').change(function (event) {
        console.log(this.files);
        var me = $(this);
        var fd = new FormData()

        //https://developer.mozilla.org/zh-TW/docs/Web/API/Fetch_API/Using_Fetch
        fd.append('filefield', this.files[0]);

        fetch('/upload-single', {
            method: 'POST',
            body: fd
        })
            .then(res => res.json())
            .then(obj => {
                console.log(obj)
                if (obj.success) {
                    me.closest('.form-group').find('img').attr('src', obj.file);
                    me.closest('.form-group').find('input').eq(0).val(obj.file);
                }
            });
    });

</script>